$color-Primary: #7CC576;
$color-primary-light: #cfe8cd;

.spotShadow {
    box-shadow: 0px 5px 5px 0px #cfe8cd !important;

}

body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.logoFont {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-weight: 200 !important;
}

.text-primary {
    color: $color-Primary !important;
}

.text-grey {
    color: grey
}

.text-white {
    color: white;
}


.headerNav {
    z-index: 100;
}

.nav-link {
    color: white !important;
}

.sectionBanner {
    position: absolute;
    top: 0;
    height: 100vh;
    background-image: url('./../assits/homeBanner.png');
    background-position: bottom;
    background-repeat: no-repeat;
    clip-path: circle(40% at 100% 0%);

    @media (min-width: 576px) {
        background-position: right;
        clip-path: circle(67% at 95% -7%);


    }
}

.headerMargin {
    margin-top: 100vh;
}


.border-primary {
    text-align: center;
    padding-bottom: 2px;
    background:
        linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(207, 232, 205, 1) 35%, rgba(124, 197, 118, 1) 100%);
    background-size: 100% 2px;
}



.dealCard {
    border-radius: 15px;
    background-color: $color-Primary;


    &Img {
        transform: translateY(-10%);
    }
}

/*
.card-img-top {
    object-fit: contain;
    object-position: top;
    transform: translateY(-20%);
}

*/

.HeaderTextBox {
    position: absolute;
    top: 40vh;
    transform: translateY(-50%);

    @media (min-width: 768px) {
        top: 50vh;

    }
}


.thinTitle {
    font-weight: 100;
}

.thickTitle {
    font-weight: 800;
}

.pr-10 {
    padding-right: 10rem !important;
}

.btn-primary {
    border: 1px solid $color-Primary !important;
    background-color: $color-Primary !important;
    padding: 10px 30px;
    margin-top: 10px;
    box-shadow: 0 0 0 0.2rem rgba($color-Primary, 0);


    &:hover,
    &:focus,
    &:active,
    &:checked,
    &:target {

        background-color: $color-Primary !important;
        box-shadow: 0 0 0 0.2rem rgba($color-Primary, 0.5) !important;
    }

    &:hover {
        box-shadow: 0 0 0 0.2rem rgba($color-Primary, 0);

    }



    &-filled {

        border: 1px solid white !important;
        background-color: $color-Primary;
        color: white;
        padding: 10px 30px;
        margin-top: 10px;

        &:hover,
        &:focus {
            border: 1px solid $color-Primary !important;

            background-color: white !important;
            color: $color-Primary;
        }
    }
}


.btn-primary-light {
    border: 1px solid $color-primary-light !important;
    background-color: $color-primary-light !important;
    padding: 10px 30px;
    margin-top: 10px;
    box-shadow: 0 0 0 0.2rem rgba($color-primary-light, 0);


    &:hover,
    &:focus,
    &:active,
    &:checked,
    &:target {

        background-color: $color-primary-light !important;
        box-shadow: 0 0 0 0.2rem rgba($color-primary-light, 0.5) !important;
    }

    &:hover {
        box-shadow: 0 0 0 0.2rem rgba($color-primary-light, 0);

    }



    &-filled {

        border: 1px solid white !important;
        background-color: $color-primary-light;
        color: white;
        padding: 10px 30px;
        margin-top: 10px;

        &:hover,
        &:focus {
            border: 1px solid $color-primary-light !important;

            background-color: white !important;
            color: $color-primary-light;
        }
    }
}


.px-20 {
    padding-right: 20rem;
    padding-left: 20rem;
}

.imgWrap {
    position: relative;
    padding-bottom: 70%;

    &-lg {
        padding-bottom: 100%;
    }
}

.imgInner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}



.bg-primary {
    background-color: $color-Primary !important;
}

.vest {
    top: 50%;
    transform: translateY(-50%);
}

.lady {
    transform: translateY(-30%)
}

.bannerWrap {
    position: relative;
    padding-bottom: 55%;
}

.smoothBorder {
    border-radius: 0px 16px 90px 0px;
}

.mt-10 {
    margin-top: 10rem;
}

.rounded {
    border-radius: 20px 20px 20px 20px !important;
}

.midBanner {
    background-image: url('../assits/midBanner.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    height: 100%;

    /*
        filter: blur(8px);
    -webkit-filter: blur(8px); 
    */

}


.slick-arrow {
    color: $color-Primary !important;
    display: none !important;


    @media (min-width: 768px) {
        display: block !important;
    }

    &::before {
        color: $color-Primary !important;

    }
}

p {
    font-size: .8rem !important;
}

.noBullets {
    list-style: none !important;
}

#navbarSupportedContent {
    background-color: $color-Primary;
    position: absolute;
    top: 10vh;
    right: 0;

    @media (min-width: 992px) {
        background-color: transparent;
    }

}